body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#grid_container{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    margin-top: 100px;
}

#info span{
    font-size: 32px;
}

.box{
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.box:hover{
    background-color: rgb(177, 181, 234);
}

.imgBox img{
    width: 0px;
    transition: width ease-in;
}